<%- layout("layouts/boilerplate.ejs") %>
<link rel="stylesheet" href="/css/star-growRotate.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="img-div" class="d-none d-md-block text-center text-white p-5">
    <p id="big-display" class="pt-5 mb-0">Welcome to YelpCamp!</p>
    <p class="fs-5 mt-0">View campgrounds from all over the world</p>
</div>

<nav class="navbar navbar-expand-sm navbar-light bg-light py-3 py-md-2">
    <div class="container">
        <ul class="navbar-nav">
            <form action="/campgrounds" method="GET">
                <div class="input-group">
                    <input class="form-control fst-italic" type="text" name="search" placeholder="Search.." autocomplete="off">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle pb-0" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Sort by </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <form action="/campgrounds" method="GET">
                        <button class="dropdown-item" name="sortby" value="priceLow">Price: Low to High</button>
                    </form>
                    <form action="/campgrounds" method="GET">
                        <button class="dropdown-item" name="sortby" value="priceHigh" >Price: High to Low</button>
                    </form>
                    <form action="/campgrounds" method="GET">
                        <button class="dropdown-item" name="sortby" value="highRated">Highest Rated</button>
                    </form>
                    <form action="/campgrounds" method="GET">
                        <button class="dropdown-item" name="sortby" value="mostRev">Most Reviewed</button>
                    </form> 
                    <form action="/campgrounds" method="GET">
                        <button class="dropdown-item" name="sortby" value="newAdded">Newly Added</button>
                    </form>
                </div>
            </li>
        </ul>
        
    </div>
  </nav>

<div class="container">
    <div class="row justify-content-center p-3">
        <% for(let c of campgrounds){ %>
        <div id="gradient-bg" class="card m-3 px-0 shadow col-sm-10 col-md-5 col-lg-3 ">
            <img src="<%= c.image %>" class="card-img-top" alt="">
            <div class="card-body pe-2  ">
                <div class="card-title text-capitalize">
                    <a id="underlineRemove" class="fs-5" href="/campgrounds/<%= c._id %>" ><%= c.name %></a>
                </div>
                <div class="card-text">
                    <div class="text-muted">
                        <% if(c.reviewsArray.length>0){ %> 
                            <% const stars= Math.round(c.avgRating) %> 
                            <% for(let i=1;i<=5;i++){ %>
                                    <% if(i>stars){ %>
                                        <span class="fa fa-star"></span> 
                                    <% }else{ %>    
                                        <span class="fa fa-star text-warning"></span> %> 
                                    <% } %>
                            <% } %> 
                        <% } %> 
                        <span class="ms-2">
                            <% if(c.reviewsArray.length==0){ %>
                                No reviews
                            <% }else if(c.reviewsArray.length==1){ %>
                                1 review
                            <% }else{ %>
                                <%= c.reviewsArray.length %> reviews  
                            <% } %>  
                        </span>
                    </div>
                    <div class="text-end">&#8377; <%= c.price %>/Night</div>
                </div>
            </div>
        </div>
        <% } %>
    </div>
</div>

